<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  
    <div class="fixed-bottom" style="background-color: rgb(233, 243, 235);">
        <div class="container text-center" style="margin-top: 12px;" >
            <h4 class="text-uppercase font-weight-bold">Contact</h4>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 90%;">
    
            <div class="row">
                <div class="col-sm">
                    <i class="fas fa-home mr-3"></i> Ahmedabad, Gujarat
                </div>
                <div class="col-sm">
                    <i class="fas fa-envelope mr-3"></i> info@study.com
                </div>
                <div class="col-sm">
                    <i class="fas fa-phone mr-3"></i> +91 8889478532
                </div>
                <div class="col-sm">
                    <i class="fas fa-print mr-3"></i> +91 7856321489
                </div>
            </div>
        </div>
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href=""> Course Managment</a>
        </div>
        <!-- Copyright -->
    </div>
    
  
</footer>
<!-- Footer -->

</body>

</html>