<%- include ("header") %>


    <% if (data.length == 0) { %>

      <h1 class="text-center">There is no courses available!</h1>

    <% } else { %>

      <%- include ("content") %>

    <% } %>  

    
      
</div>     

<%- include ("footer") %>
